In [2]:
import pandas as pd
import peramalan_cuaca_bmkg_dev.data_processor as data_processor
import peramalan_cuaca_bmkg_dev.data_query as data_query

ModuleNotFoundError: No module named 'data_query'

In [3]:
df = pd.read_csv('peramalan_cuaca_bmkg_dev/dataset/fklim-ngrai-20112020-final.csv')
df.head()

,Date,Tahun,Bulan,Tanggal,T0700,T1300,T1800,Trata-rata,Tmax,Tmin,...,QFE,RH0700,RH1300,RH1800,RHrata-rata,ffrata-rata,dd,ffmax,ddmax,QFF
0,1/1/2011,2011,1,1,25.1,27.0,26.4,25.9,29.0,24.7,...,1004.1,95,90,86,92,3,90,8.0,70,NaN
1,2/1/2011,2011,1,2,26.4,30.6,26.9,27.6,30.6,25.5,...,1005.9,86,75,90,84,4,320,12.0,290,NaN
2,3/1/2011,2011,1,3,25.4,30.3,26.0,26.8,31.2,24.8,...,1005.6,93,77,91,89,3,90,8.0,50,NaN
3,4/1/2011,2011,1,4,25.2,28.6,28.3,26.8,29.5,24.4,...,1005.6,93,82,75,86,4,270,10.0,270,NaN
4,5/1/2011,2011,1,5,24.6,30.8,27.2,26.8,31.7,24.1,...,1005.3,88,72,89,84,3,50,24.0,30,NaN

In [9]:
df_train, dt_test = data_processor.split_dataset(df)

NameError: name 'data_processor' is not defined